// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------

// Brand colors
$color-dude-black: #222;
$color-dude-deep-black: #050505;
$color-dark-blueish: #16202a;
$color-dude-grey-text: #5a5a5a;
$color-dude-white: #fff;
$color-dude-whitegreyish: #f0f0f0;
$color-dude-darkgrey: #272727;
$color-superlightgrey: #e7e7e7;
$color-lightgrey: #808080;

// Default colors
$color-links: $color-dude-deep-black;
$color-hover: $color-dude-black;
$color-body: $color-dude-black;
$color-headings: $color-dude-black;
$color-darkgrey: #4f5964;
$color-placeholder: #ababab;

// Fonts
$font-base: 'Neuzeit Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Neuzeit Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;

// Font settings
$font-min-size: 18px;
$font-max-size: 22px;
$font-base-line-height: 1.55;
$font-base-line-height-elements: 1.55;
$headings-weight: 300;

// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Container settings
$container-default-pad-x: 2rem; // Default padding between containers horizontally. Tweak _general.scss if needed.
$container-default-pad-y: 6.4rem; // Default vertical padding for containers
$grid-base-size: 960px; // Layout container max width on desktop. This is default .container size
$article-max-width: 800px; // Max width for articles (see also $content_width in functions.php!)
$container-mobile: 480px;
$container-ipad: 770px;
$container-ipad-landscape: 1024px;
$container-desktop: 1200px;

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 960px;
