// -----------------------------------------------------------
// General
//
// This file is meant for general styles and containers
// that apply everywhere throughout the website. Add more
// always repeating elements right below.
// -----------------------------------------------------------

body {
  margin: 0;

  span.accent {
    opacity: .5;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    margin-right: 10px;
  }

  a,
  a:link,
  a:visited,
  a:active {
    &.github {
      background-image: url('../svg/github.svg');
      background-repeat: no-repeat;
      background-position: 1px 4px;
      padding-left: 20px;
      color: #000;
      border: 0;
      box-shadow: none;
      text-shadow: none;
    }

    &.text-anchor,
    &.text-anchor:focus,
    &.text-anchor:hover {
      color: #232426;
      box-shadow: none;
      text-decoration: none;
      border: 0;
    }
  }

  .site-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: calc(100% - 6rem);

    h1:first-child {
      margin-top: 0;
    }

    p.modified {
      font-size: 15px;
      opacity: .7;
    }

    .commits {
      display: none;
    }

    .git-commit-history-toggle {
      cursor: pointer;
      font-weight: 500;
    }

    p.commit {
      font-size: 15px;
      border-bottom: 1px solid #eee;
      padding-bottom: 1rem;
      padding-top: 0;
      margin-bottom: 1rem;
      margin-top: 0;
      opacity: .7;

      &:last-child {
        border-bottom: 0;
      }

      .date {
        font-weight: 600;
        opacity: 1;
      }
    }
  }

  .content-area {
    width: calc(100% - 230px);
    max-width: calc(70rem + 230px);

    @media (max-width: 900px) {
      width: 100%;
    }

    a {
      color: #666;
      text-decoration: none;
      text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
      border-bottom: 2px solid #ccc;
      transition: all .55s;

      &:hover {
        color: #434343;
        border-bottom: 2px solid #243344;
      }
    }

    .site-main {
      padding: 6rem;

      @media (max-width: 900px) {
        padding: 4rem;
      }

      .page {
        max-width: 700px;
      }
    }
  }

  &.search-results {
    article {
      margin-bottom: 40px;
    }
  }
}

code {
  color: #c7254e;
  background-color: #f9f2f4;
  padding: .375rem .5rem;
  transition: all .55s;

  &:hover {
    background-color: darken(#f9f2f4, 5%);
  }
}

code[class*=language-] {
  padding: 0;
}
