// -----------------------------------------------------------
// General
//
// This file is meant for general styles and containers
// that apply everywhere throughout the website. Add more
// always repeating elements right below.
// -----------------------------------------------------------
// Dude specific general typography related styles
.block-title {
  @include responsive-font($font-size-general-headings-mobile, $font-size-general-headings-desktop);
  margin-bottom: $margin-between-text-elements;
  margin-top: 0;
  position: relative;

  @media (min-width: $container-ipad-landscape) {
    font-size: $font-size-general-headings-desktop;
  }

  &.block-title-large {
    @extend %general-heading-alt;
  }

  &.block-title-small {
    @extend %general-heading-small;
  }
}

%general-heading-cta {
  @include responsive-font($font-size-general-headings-mobile, $font-size-general-headings-medium-ctas);
  line-height: 1.35;

  @media (max-width: $container-mobile) {
    font-size: 24px;
    font-weight: 500;
  }

  @media (min-width: $container-ipad-landscape) {
    font-size: $font-size-general-headings-medium-ctas;
  }
}

%general-heading-alt {
  @include responsive-font($font-size-general-headings-mobile, 54px);
  line-height: 1.35;
  font-weight: 500;

  @media (max-width: $container-mobile) {
    font-size: 24px;
    font-weight: 500;
  }

  @media (min-width: 1300px) {
    font-size: 54px;
  }
}

%general-heading-large {
  @include responsive-font(36px, $font-size-general-headings-desktop);
  margin-bottom: 4rem;
  line-height: 1.5;
  font-weight: 400;

  @media (max-width: $container-mobile) {
    font-size: 36px;
    font-weight: 500;
  }

  @media (min-width: $container-ipad-landscape + 200px) {
    font-size: $font-size-general-headings-desktop;
  }
}

%general-heading-small {
  @include responsive-font(20px, 24px);
  line-height: 1.5;
  font-weight: 400;

  @media (min-width: $container-ipad-landscape) {
    font-size: 24px;
  }
}

.large-text,
%large-text {
  @extend %general-heading-small;
}

.block-head {
  padding: 0;

  p.read-more {
    margin: 0;
  }
}

body {
  margin: 0;

  .container,
  .entry-content {
    h1 {
      @extend %general-heading-cta;
    }

    h2 {
      @extend %general-heading-small;
    }

    h3 {
      @extend %general-heading-small;
    }
  }

  span.accent {
    opacity: .5;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    margin-right: 10px;
  }

  a,
  a:link,
  a:visited,
  a:active {
    &.github {
      background-image: url('../svg/github.svg');
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: 0 center;
      padding-left: 28px;
      color: #000;
      border: 0;
      box-shadow: none;
      text-shadow: none;
      transition: .3s all;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        opacity: .6;
      }
    }

    &.text-anchor,
    &.text-anchor:focus,
    &.text-anchor:hover {
      color: #232426;
      box-shadow: none;
      text-decoration: none;
      border: 0;
    }
  }

  .site-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: calc(100% - 6rem);

    h1:first-child {
      margin-top: 0;
    }

    p.modified {
      font-size: 15px;
      opacity: .7;
    }

    .commits {
      display: none;
    }

    .git-commit-history-toggle {
      cursor: pointer;
      font-weight: 500;
    }

    p.commit {
      font-size: 15px;
      border-bottom: 1px solid #eee;
      padding-bottom: 1rem;
      padding-top: 0;
      margin-bottom: 1rem;
      margin-top: 0;
      opacity: .7;

      &:last-child {
        border-bottom: 0;
      }

      .date {
        font-weight: 600;
        opacity: 1;
      }
    }
  }

  .content-area {
    width: calc(100% - #{$sidenav-width});
    max-width: calc(#{$content-width} + #{$sidenav-width});

    @media (max-width: 900px) {
      width: 100%;
    }

    a:not(.github):not(.no-text-link):not(.post-edit-link) {
      @extend %textlink;
    }

    .site-main {
      padding: 6rem;

      @media (max-width: 900px) {
        padding: 4rem;
      }

      @media (max-width: 480px) {
        padding: 2rem;
      }

      .page,
      .site-footer {
        max-width: $content-width;
      }
    }
  }

  &.search-results {
    article {
      margin-bottom: 40px;
    }
  }
}

code:not([class*="language-"]) {
  color: #c7254e;
  background-color: #f9f2f4;
  padding: .375rem .5rem;
  font-family: $font-monospace;
  font-size: 14px;

  &:hover {
    background-color: darken(#f9f2f4, 5%);
  }
}

code[class*=language-] {
  padding: 0;
}

// Better edit link
.edit-link {
  text-align: left;
  width: 100%;
  display: block;
  clear: both;
  max-width: 100%;
  min-width: 0;
  margin-bottom: 0;
  margin-top: 2rem;
  overflow: hidden;
  transition: all .22s;

  a,
  .post-edit-link {
    font-weight: 700;
    clear: both;
    text-align: center;
    transition: all .22s;
    display: block;
    padding: 2rem;
    background: #fafafa;
    color: #444;
    border: 2px dashed #999;
    margin: 0;
    text-decoration: none;
    max-width: 100%;
    width: 100%;
  }

  a:hover {
    color: #999;
    background: #efefef;
  }
}
