// -----------------------------------------------------------
// General
//
// This file is meant for general styles and containers
// that apply everywhere throughout the website. Add more
// always repeating elements right below.
// -----------------------------------------------------------

body {
  margin: 0;

  .site-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: calc(100% - 6rem);

    h1,
    h2,
    h3 {
      text-transform: uppercase;
    }
  }

  .content-area {
    width: calc(100% - 230px);
    max-width: calc(40rem + 230px);

    @media(max-width: 900px) {
      width: 100%;
    }

    .site-main {
      padding: 4rem;

      @media(max-width: 900px) {
        padding: 2rem;
      }

      .page {
        max-width: 700px;
      }
    }
  }
}
