body .site-content .side-nav {
  width: 270px;
  background: $color-dude-black;
  padding: 2rem 0;

  @media (max-width: 900px) {
    width: 100%;
    height: auto !important;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  @media (min-width: 900px) {
    min-height: 100vh;
  }

  h3.side-nav-title {
    @extend .screen-reader-text;
    font-size: 18px;
    position: relative;
    top: 2px;
  }

  ol {
    counter-reset: item;
    padding-bottom: 0;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &.side-nav-main > .page_item {
      padding-left: 15px;
      padding-right: 15px;
    }

    .children > .page_item {
      margin-left: -15px;
      margin-right: -15px;
      flex-wrap: nowrap;
    }

    > li.active,
    > li.current_page_item {
      overflow: visible;

      > a {
        font-weight: 700;
        color: #fff;
        opacity: 1;
      }
    }

    li {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
      color: #777;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 0;
      font-size: 13px;
      min-height: 31px;
      line-height: 1.3;
      align-items: center;

      li {
        width: 100%;
      }

      a:hover {
        color: #fff;
        opacity: 1;
      }

      &.page_item_has_children {
        height: auto;
        padding-bottom: 0;
      }

      &.page_item_has_children li:last-child {
        margin-bottom: 5px;
      }

      @media (max-width: 900px) {
        height: auto;
        margin-bottom: 0;
      }

      .sub-menu {
        margin-top: 5px;
        background: $color-background-sidenav;
      }

      > ol {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
      }

      > ol li {
        padding-left: 25px;
        opacity: .6;

        &.active,
        &.current_page_item {
          opacity: 1;
        }

        &:before {
          right: -46px;
        }
      }

      &:before {
        content: counters(item, '.')'.';
        counter-increment: item;
        color: #eaeaeb;
        font-size: 1.4rem;
        display: inline;
        margin-right: 5px;
      }

      a {
        color: #eaeaeb;
        font-weight: 400;
        font-size: 1.4rem;
        padding-left: 0;
      }
    }
  }
}
