body {
  .site-content {
    .side-nav {
      width: 230px;
      background: #2e3336;
      padding: 2rem 0;

      @media (max-width: 900px) {
        width: 100%;
        height: auto !important;
        padding-bottom: 0;
        margin-bottom: 20px;
      }

      @media(min-width: 900px) {
        min-height: 100vh;
      }

      h3.side-nav-title {
        @extend .screen-reader-text;
        font-size: 18px;
        position: relative;
        top: 2px;
      }

      ol {
        counter-reset: item;
        padding-bottom: 0;
        margin-top: 30px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-bottom: 0;

        > li.active,
        > li.current_page_item {
          overflow: visible;
          background-color: $color-alt;
          padding-bottom: 0;
          margin-bottom: 5px;

          > a {
            font-weight: 900;
            color: #fff;
            opacity: .9;
          }
        }

        li {
          display: block;
          position: relative;
          color: #777;
          margin-left: 0;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          margin-bottom: 0;
          font-size: 14px;

          @media(max-width: 900px) {
            height: auto;
            margin-bottom: 0;
          }

          .sub-menu {
            margin-top: 5px;
            background: #2e3336;
          }

          > ol {
            margin-top: 0;
            margin-left: -15px;
            margin-right: -15px;

            li {
              padding-left: 34px;
              opacity: .5;

              &.active,
              &.current_page_item {
                opacity: 1;
              }

              &:before {
                right: -46px;
              }
            }
          }

          &:before {
            content: counters(item, '.')'.';
            counter-increment: item;
            position: absolute;
            margin-right: 100%;
            right: -28px;
            top: 5px;
            color: #eaeaeb;
            font-size: 14px;
          }

          a {
            color: #eaeaeb;
            font-size: 14px;
            opacity: .8;
            padding-left: 20px;
          }
        }
      }
    }
  }
}