$nav-toggle-color: $color-white;
$nav-toggle-active-color: $color-white;
$hamburger-padding-x: 1.5rem;
$hamburger-padding-y: 5rem;
$hamburger-layer-width: 3rem;
$hamburger-layer-height: 0.2rem;
$hamburger-layer-spacing: 0.4rem;
$hamburger-layer-color: $color-white;
$hamburger-layer-border-radius: 0;
$hamburger-hover-opacity: 0.8;
$hamburger-hover-transition-duration: 0.15s;
$hamburger-hover-transition-timing-function: linear;
$nav-open-from-right: true;
$nav-open-from-left: false;
$nav-open-from-bottom: false;
$nav-open-from-top: false;
$sidenav-width: 300px;
$content-width: 800px;

@import 'hamburgers/_sass/hamburgers/hamburgers';

.nav-toggle,
.nav-toggle:focus {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after,
  &:focus .hamburger-inner:focus::before,
  &:focus .hamburger-inner:focus::after {
    background-color: $color-white;
    color: $color-white;
  }
}

// Choose hamburger animation here
// Choices: https://jonsuh.com/hamburgers/

.hamburger {
  @extend .hamburger--spin;
}

.nav-toggle {
  list-style: none;
  z-index: 100000;
  -webkit-tap-highlight-color: rgba(#000, 0);
  border: 0;
  overflow: visible;
  color: $nav-toggle-color;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;
  text-decoration: none;
  padding: 0;
  margin: 4rem auto 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  transform: translateX(-4px);

  @media (min-width: $responsivenav) {
    display: none;
  }

  .toggle-text {
    margin-left: 20px;
  }

  .hamburger-inner::after {
    width: 17px;
    transition: width 0.5s;
  }

  &.is-active .hamburger-inner::after,
  &:hover  .hamburger-inner::after {
    width: $hamburger-layer-width;
  }

  span:not(.toggle-text) {
    color: $nav-toggle-color;
    font-size: 1.2em;
  }

  // Alternative focus for mobile nav

  &:focus {
    @media (max-width: $container-mobile) {
      outline: none;
    }

    span span {
      background-color: $nav-toggle-color;
    }

    span span::before,
    span span::after {
      background-color: $nav-toggle-color;
    }
  }

  &:hover,
  &:active {
    color: $nav-toggle-color;

    span {
      color: $nav-toggle-color;
    }
  }

  // Separate active colors for opened state

  &.is-active {
    color: $nav-toggle-active-color;
  }

  &.is-active span:focus,
  &.is-active span.focus {
    .hamburger-box .hamburger-inner {
      background-color: $nav-toggle-active-color;
    }

    .hamburger-box .hamburger-inner::after {
      background-color: $nav-toggle-active-color;
    }
  }

  &.is-active span.hamburger-box {
    .hamburger-inner {
      background-color: $nav-toggle-active-color;
    }

    .hamburger-inner::after {
      background-color: $nav-toggle-active-color;
    }
  }

  &.is-active span:focus,
  &.is-active span:hover,
  &.is-active span:active {
    color: $nav-toggle-active-color;

    span {
      color: $nav-toggle-active-color;
    }
  }

  &.is-active span {
    color: $nav-toggle-active-color;
  }
}

body.js-nav-active {
  overflow: hidden;
}

body .site-content .side-nav {
  width: $sidenav-width;
  background: $color-background-sidenav;
  padding: 2rem 1rem;

  @media (max-width: 900px) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: auto !important;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  @media (min-width: 900px) {
    min-height: 100vh;
  }

  h3.side-nav-title {
    @extend .screen-reader-text;
    font-size: 18px;
    position: relative;
    top: 2px;
  }

  ol {
    counter-reset: item;
    padding-bottom: 0;
    margin-top: -1px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: $color-background-sidenav;

    ol {
      padding-top: 5px;
    }

    &.side-nav-main {
      @media (max-width: $responsivenav) {
        transition: all 0.33s;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        padding-bottom: 0;

        &.is-active {
          height: calc(100vh - 216px);
          z-index: 9999;
          position: fixed;
          overflow: auto;
          visibility: visible;
          padding-bottom: 30px;
        }
      }
    }

    &.side-nav-main > .page_item {
      padding-left: 15px;
      padding-right: 15px;

      a[href*='//']:not([href*='www.dudetest.xyz']):not([href*='air.vaiheessa.fi']):not([href*='airdev.test']):not([href*='localhost:3000']):not([href*='192.168.1.233:3000']):not(.github):not(.no-external-link-indicator) {
        padding-right: 0;
        margin-right: 0;
      }
    }

    .children > .page_item {
      margin-left: -15px;
      margin-right: -15px;
      flex-wrap: nowrap;
    }

    > li.active,
    > li.current_page_item {
      overflow: visible;
      color: $color-mint;

      &::before {
        color: $color-mint;
      }

      > a {
        font-weight: 400;
        color: $color-mint;
        opacity: 1;
      }
    }

    li,
    li li {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
      color: #777;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 0;
      font-size: 13px;
      min-height: 31px;
      line-height: 1.3;
      align-items: center;

      ol {
        margin-top: 0;
        padding-top: 0;

        li {
          display: block;
        }
      }

      a:hover {
        color: #fff;
        opacity: 1;
      }

      &.page_item_has_children {
        height: auto;
        padding-bottom: 0;
      }

      &.page_item_has_children li:last-child {
        margin-bottom: 5px;
      }

      @media (max-width: 900px) {
        height: auto;
        margin-bottom: 0;
      }

      .sub-menu {
        margin-top: 5px;
        background: $color-background-sidenav;
      }

      > ol {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
      }

      > ol li {
        padding-left: 25px;
        opacity: 0.6;
      }

      > ol li.active,
      > ol li.current_page_item {
        opacity: 1;
      }

      > ol li &::before {
        right: -46px;
      }

      &::before {
        content: counters(item, '.') '.';
        counter-increment: item;
        color: #eaeaeb;
        font-size: 1.6rem;
        display: inline;
        margin-right: 10px;
      }

      a {
        color: #eaeaeb;
        font-weight: 400;
        font-size: 1.6rem;
        padding-left: 0;
      }
    }
  }
}
