body {
  .site-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid #d9d9d9;
    padding: 35px 0;
    margin-top: 4rem;

    p {
      font-size: 14px;
      color: rgba($color-body, .8);
      position: relative;
      margin: 0;
    }

    a.github {
      padding-bottom: 5px;
      text-shadow: none;
      box-shadow: none;
      text-decoration: none;
      background-position: 1px -1px;
    }

    a {
      &:hover {
        svg {
          path {
            stroke: #222;
          }
        }
      }
    }

    svg {
      width: 40px;
      height: 64px;
      fill: #777;
      float: left;
      margin-right: 25px;
      position: relative;
      top: 0;

      path {
        transition: all .55s;
        stroke: #777;
      }
    }
  }
}
