// -----------------------------------------------------------
// Site header
//
// The very top of the site, element that usually includes
// the site navigation and search for example.
// -----------------------------------------------------------

.site-header {
  position: static;
  overflow: hidden;

  .handbook-title {
    font-family: $font-base;
    margin: 10px auto 30px;
    text-transform: none;
    font-size: 1.4rem;
    font-weight: $headings-weight;
    color: #898e8b;
    line-height: 1.55;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (max-width: $responsivenav) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .search-form {
    margin: 0 15px;
    position: relative;

    @media (max-width: 900px) {
      display: inline-block;
      width: 100%;
      float: none;

      input.search-field {
        width: 92%;
        display: inline-block;

        @media (max-width: 655px) {
          width: 90%;
        }

        @media (max-width: 535px) {
          width: 85%;
        }
      }
    }

    .search-field {
      background: none;
      border: 0;
      padding-top: 6px;
      padding-left: 26px;
      padding-bottom: 6px;
      padding-right: 6px;
      width: 100%;
      overflow: hidden;
      opacity: .75;
      margin: 0;
      transition: all .5s;
      color: #ccc;
      border-bottom: 1px solid #666;
      font-weight: $headings-weight;
      font-size: 15px;

      @media (max-width: $responsivenav) {
        font-size: 17px;
      }

      // I'm sorry
      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #fff;
        opacity: .7;
        font-weight: $headings-weight;
        font-size: 15px;

        @media (max-width: $responsivenav) {
          font-size: 17px;
        }
      }
    }

    .search-submit {
      background: url('../svg/search.svg') center center no-repeat transparent;
      width: 20px;
      height: 30px;
      text-indent: -999px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      border: 0;

      @media (max-width: $responsivenav) {
        background: url('../svg/search-large.svg') center center no-repeat transparent;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .site-branding {
    overflow: hidden;
    text-align: center;

    .site-title {
      overflow: hidden;
      margin: 0 auto;

      @media (max-width: 680px) {
        svg {
          width: 70px;
          height: 13.98px;
        }
      }

      a {
        font-size: 28px;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }

      a .handbook {
        @extend .screen-reader-text;
        position: relative;
        font-weight: 700;
        opacity: .6;
      }

      a svg {
        fill: #fff;
      }
    }
  }
}
