// -----------------------------------------------------------
// Site header
//
// The very top of the site, element that usually includes
// the site navigation and search for example.
// -----------------------------------------------------------

.site-header {
  position: static;
  background: #222;
  width: 100%;
  overflow: hidden;
  padding: 35px;

  @media(max-width: 900px) {
    height: auto;
  }

  .handbook-title {
    margin: 0;
    color: #fff;
    text-transform: none;
    font-size: 18px;
    line-height: 18px;
  }

  .search-form {
    margin: 0;
    float: right;

    @media(max-width: 900px) {
      display: inline-block;
      width: 100%;
      float: none;

      input.search-field {
        width: 92%;
        display: inline-block;

        @media(max-width: 655px) {
          width: 90%;
        }

        @media(max-width: 535px) {
          width: 85%;
        }
      }
    }

    .search-field,
    .search-submit {
      background: rgba(#000, .8);
      border: 0;
      padding: 30px 25px;
      height: 60px;
      overflow: hidden;
      opacity: .75;
      margin: 0;
      float: left;

      &::placeholder {
        color: #fff;
        opacity: .5;
      }
    }

    .search-field {
      transition: all .5s;
      width: 250px;
      color: #ccc;

      @media(min-width: 900px) {
        &:focus {
          width: 320px;
          outline: none;
        }
      }
    }

    .search-submit {
      background: url('../svg/search.svg') center center no-repeat rgba(#000, .8);
      width: 3rem;
      height: 60px;
      text-indent: -999px;
      position: relative;
      padding: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .site-branding {
    overflow: hidden;
    float: left;
    position: relative;
    top: 3px;

    @media(max-width: 900px) {
      float: none;
      display: block;
      margin-bottom: 20px;
    }

    .site-title {
      overflow: hidden;
      margin: 0;

      a {
        font-size: 28px;
        color: #fff;
        text-transform: uppercase;

        .handbook {
          position: relative;
          top: -1px;
          font-weight: 700;
          opacity: .6;
        }

        svg {
          fill: #fff;
        }
      }
    }
  }
}
