// -----------------------------------------------------------
// Typography
//
// Everything around fonts, font size definitions and typeset
// presets. No modular scale, but a sophisticated viewport
// based responsive mixin can be found in _helpers.scss
// -----------------------------------------------------------

// Set up self-hosted fonts here
@include fontFace('SFMono', '../fonts/SFMono-Regular', 400);
@include fontFace('Circular', '../fonts/circular-400', 400);
@include fontFace('Circular', '../fonts/circular-400-italic', 400, italic);
@include fontFace('Circular', '../fonts/circular-500', 500);
@include fontFace('Circular', '../fonts/circular-500-italic', 500, italic);
@include fontFace('Circular', '../fonts/circular-600', 600);
@include fontFace('Circular', '../fonts/circular-600-italic', 600, italic);
@include fontFace('Circular', '../fonts/circular-700', 700);
@include fontFace('Circular', '../fonts/circular-900', 900);

// Set root size for rems

:root {
  font-size: 62.5%;
}

// Start typography settings

body {
  font-size: 1.7rem;
  font-family: $font-base;
  color: $color-body;

  // Font smoothing options
  text-size-adjust: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%textlink {
  position: relative;
  overflow: visible;
  font-weight: 700;
  z-index: 1;
  text-decoration: none;
  transition: all 0.18s ease-in-out;
  display: inline;
  color: $color-midnight;
  border-bottom: 1px solid $color-mint;
  box-shadow: inset 0 -0.1rem 0 $color-mint;

  @media (max-width: $container-mobile) {
    padding-bottom: 4px;
    display: inline;

    &::after {
      min-width: 14px;
      min-height: 14px;
    }
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 -3.3rem 0 $color-mint;
    color: $color-midnight;
  }
}

// Links

a {
  color: $color-links;
  text-decoration: none;

  &:hover {
    color: $color-hover;
  }
}

// Preset for small fonts

%small {
  @include responsive-font(14px, 17px);
}

%extrasmall {
  @include responsive-font(12px, 14px);
}

// Defaults

p,
dd,
dt,
figcaption,
hr,
small,
ol,
ul,
li,
blockquote,
kbd,
pre,
samp,
code,
th,
td,
table,
tr,
%default {
  @include responsive-font($font-min-size, $font-max-size);
  letter-spacing: -0.003em;
  font-weight: 400;
  line-height: $font-base-line-height-elements;
}

p {
  margin-top: 2.9rem;
  margin-bottom: 2.9rem;
  line-height: $font-base-line-height;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Heading defaults

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-headings;
  font-family: $font-headings;
  font-weight: $headings-weight;
}

// Based on type-scale with 14.255 base size where h1 is max 60px.
// See model that these are based on: https://www.dude.fi/type-scale.png
// And Versett.com: https://versett.com/
// Define your type scale here: https://type-scale.com/

h1,
%h1 {
  @include responsive-font(30px, 50px);
}

h2,
%h2 {
  @include responsive-font(25px, 45px);
}

h3,
%h3 {
  @include responsive-font(25px, 35px);
}

h4,
%h4 {
  @include responsive-font(19px, 25px);
}

h5,
%h5 {
  @include responsive-font(19px, 22px);
}

h6,
%h6 {
  @include responsive-font(16px, 18px);
}

// Lists

ul {
  list-style: disc outside;
  padding-left: 2.5rem;

  li {
    padding-left: 0.35rem;
  }
}

ol {
  padding-left: 3.4rem;
}

ol,
ul {
  padding-bottom: 1rem;
}

// Bold.

b,
strong {
  font-weight: $headings-weight !important;
}

// Italic.

em,
i {
  font-style: italic;
}

// Inline small text.

small {
  line-height: 1;
  font-size: 0.875em;
}

// images

img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  vertical-align: middle;
  max-width: 100%;
}

// Figures and captions

figure {
  position: relative;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

  > img {
    width: 100%;
  }
}

// Figcaption.

figcaption {
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
}

// Quotes.

blockquote {
  clear: both;
  border: 0 none;
  position: relative;
  margin: 0;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

cite {
  display: block;
  font-style: italic;
}

// Horizontal rule.

hr {
  background-image: linear-gradient(to bottom, rgba(#000, 0) 50%, #000 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 50%;
  border: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  height: 0;
}

kbd,
pre,
samp {
  font-family: $font-monospace;
}

// Code block.

code:not([class*='language-']) {
  background-color: #f9f9f9;
  max-height: 20em;
  font-size: 16px;
  font-family: Inconsolata, Consolas, Monaco, 'Lucida Console', monospace;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 0 3px;
  max-width: 95%;
  vertical-align: middle;
  margin-top: -3px;
  overflow-x: auto;

  &:hover,
  &:focus {
    border-color: rgba($color-midnight, 0.5);
    color: $color-midnight;
  }

  pre & {
    display: inline-block;
    padding: 1.15rem 1rem 0.85rem;
  }
}

// Preformatted text.

pre {
  border-radius: 0.3rem;
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  margin-bottom: 2rem;
}

// Clean mac styled kbds

kbd > kbd {
  background-color: black;
  border-radius: 0.285714286em; /* 4px */
  color: ghostwhite;
  font: 600 0.875em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0.214285714em 0.642857143em; /* 3px 9px */
}

kbd > kbd + span {
  font-weight: 600;
  margin: 0 -0.5em; /* 7px */
}
