.block.block-front-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: $color-darkergrey;
  position: relative;
  height: 35rem;

  .container {
    width: 100%;
  }

  .neckbeard {
    position: absolute;
    left: 0;

    svg {
      margin-left: -40%;
    }
  }

  h1,
  h2 {
    color: $color-dude-white;
    text-align: center;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h2 {
    @extend %h5;
    margin: 0;
  }
}
