// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------

// Brand 2020
$color-cobalt-blue: #4d4aff;
$color-midnight-blue: #131a50;
$color-midnight: #03061b;
$color-mint: #7effe1;

// Brand colors
$color-black: $color-midnight;
$color-deep-black: $color-midnight;
$color-dark-blueish: #16202a;
$color-grey-text: #5a5a5a;
$color-white: #fff;
$color-default-background: #f0f0f0;
$color-white-two: #f8f8f8;
$color-button-white-hover: #f2f2f2;

// Colors
$color-dude-black: $color-midnight;
$color-dude-deep-black: $color-midnight;
$color-links: $color-dude-deep-black;
$color-hover: #606c76;
$color-body: darken(#545773, 10%);
$color-servicedescriptions: #565657;
$color-headings: $color-midnight-blue;
$color-body-darker: $color-midnight;
$color-grey: #dadfe1;
$color-darkgrey: #6c7a89;
$color-lightgrey: #8e8e8e;
$color-lightergrey: #a8a8a8;
$color-lightgrey-alt: #a1a1a1;
$color-githubgrey: #ddd;
$color-dark: $color-midnight;
$color-almostblack: $color-midnight;
$color-dark-blueish: $color-midnight-blue;
$color-fog: #b0b0b0;
$color-alt: lighten($color-midnight-blue, 8%);
$color-wordpress: #21759b;
$color-woocommerce: #a46497;
$color-background-sidenav: $color-midnight;

// Fonts
$font-base: 'Circular', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Circular', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'SFMono', 'PT Mono', Menlo, 'Courier New', monospace;

// Font settings
$font-size-general-small: 17px;
$font-size-general-large: 22px;
$font-size-general-headings-mobile: 24px;
$font-size-general-headings-medium-ctas: 40px;
$font-size-general-headings-desktop: 64px;
$font-min-size: 17px;
$font-max-size: 18px;
$font-base-line-height: 1.7;
$font-base-line-height-elements: 1.7;
$font-headings-line-height: 1.23;
$headings-weight: 500;

// CSS vars
:root {
  --font-size-general-small: #{$font-size-general-small};
}

// Exceptions in font sizes
@media (min-width: 420px) and (max-width: 600px) {
  :root {
    --font-size-general-small: 18px;
  }
}

// Margins
$margin-default-cols: 7.5rem;
$margin-default-rows: 7.5rem;
$margin-reasonable-space: 3.5rem;
$margin-between-grid-columns: 6rem;
$margin-between-grid-columns-large: 9rem;
$margin-between-text-elements: 4rem;

// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Container settings
$container-default-pad-x: 4rem; // Default padding between containers horizontally. Tweak _general.scss if needed.
$container-default-pad-y: 4rem; // Default vertical padding for containers
$grid-base-size: 960px; // Layout container max width on desktop. This is default .container size
$article-max-width: 800px; // Max width for articles
$container-mobile: 480px;
$container-desktop: 1200px;
$container-ipad: 770px;
$container-ipad-landscape: 1024px;

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 780px;
