// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------

// Colors
$color-dude-black: #222;
$color-dude-deep-black: #050505;
$color-links: $color-dude-deep-black;
$color-hover: #606c76;
$color-body: $color-dude-black;
$color-servicedescriptions: #565657;
$color-headings: $color-dude-black;
$color-body-darker: #444;
$color-grey: #dadfe1;
$color-darkgrey: #6c7a89;
$color-lightgrey: #8e8e8e;
$color-lightergrey: #a8a8a8;
$color-lightgrey-alt: #a1a1a1;
$color-githubgrey: #ddd;
$color-dark: #1a1a1a;
$color-almostblack: #020202;
$color-dark-blueish: #16202a;
$color-fog: #b0b0b0;
$color-alt: lighten(#161f29, 8%);
$color-wordpress: #21759b;
$color-woocommerce: #a46497;
$color-background-sidenav: #202428;

// Fonts
$font-base: 'Neuzeit Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Neuzeit Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;

// Font settings
$font-min-size: 18px;
$font-max-size: 22px;
$font-base-line-height: 1.55;
$font-base-line-height-elements: 1.55;
$headings-weight: 300;

// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Container settings
$container-default-pad-x: 4rem; // Default padding between containers horizontally. Tweak _general.scss if needed.
$container-default-pad-y: 4rem; // Default vertical padding for containers
$grid-base-size: 960px; // Layout container max width on desktop. This is default .container size
$article-max-width: 800px; // Max width for articles
$container-mobile: 480px;
$container-desktop: 1200px;
$container-ipad: 770px;
$container-ipad-landscape: 1024px;

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 780px;
