/**
 * Github-like theme for Prism.js
 * @author Luke Askew http://github.com/lukeaskew
 */
/* stylelint-disable */
// color vars
$code-colors: (
  blue: #005cc5,
  teal: #005cc5,
  black: #032f62,
  purple: #d73a49,
  maroon: #6f42c1,
  green: #005cc5,
  light-gray: $color-background-code-block,
  dark-gray: #24292e
);

// base
code,
code[class*='language-'],
pre[class*='language-'] {
  color: map-get($code-colors, black);
  cursor: text;
  direction: ltr;
  font-family: $font-monospace;
  font-size: 14px;
  hyphens: none;
  line-height: 1.4;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-spacing: normal;

  * {
    font-size: 14px;
  }
}

// code blocks
pre[class*='language-'] {
  border-radius: 3px;
  font-size: 85%;
  margin: 1em 0;
  overflow: visible;
  padding: 2rem;

  &.wrong {
    background-color: #ffe6d8 !important;

    .copy {
      background-color: #ffe6d8 !important;
    }

    .comment {
      color: #a81919 !important;
    }
  }

  &.right {
    background-color: #dbffd8 !important;

    .copy {
      background-color: #dbffd8 !important;
    }

    .comment {
      color: #19a857 !important;
    }
  }
}

p code,
li code,
table code {
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em 0;

  &::before,
  &::after {
    content: '\00a0';
    letter-spacing: -.2em;
  }
}

code,
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: $color-background-code-block;
  transition: all 200ms ease;

  &:hover,
  &:focus {
    background: $color-background-code-block-hover;

    .copy {
      background: $color-background-code-block-hover;
    }
  }
}

// inline code
:not(pre) > code[class*='language-'] {
  border-radius: .3em;
  padding: .1em;
}

// token colors
.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: map-get($code-colors, dark-gray);
  }

  &.punctuation,
  &.string,
  &.atrule,
  &.attr-value {
    color: map-get($code-colors, blue);
  }

  &.property,
  &.tag {
    color: map-get($code-colors, green);
  }

  &.boolean,
  &.number {
    color: map-get($code-colors, teal);
  }

  &.selector,
  &.attr-name,
  &.attr-value .punctuation:first-child,
  &.keyword,
  &.regex,
  &.important {
    color: map-get($code-colors, maroon);
  }

  &.operator,
  &.entity,
  &.url,
  .language-css &.string {
    color: map-get($code-colors, purple);
  }

  &.entity {
    cursor: help;
  }
}

.namespace {
  opacity: .7;
}
